.about{
    margin: 30px auto;
    padding: 50px;
    box-shadow: 5px 5px 10px black;
}


.about img:hover{
    transform: scale(1.05);
}

.aboutWriteUp{
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    animation: fadeIn 9s;
}

.aboutWriteUp p{
    text-align: center;
    color: rgb(7, 7, 65);
    padding: 40px;
    background-color: rgba(188, 238, 234, 0.747);
    border-radius: 20px;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

#mySpan{
    color: rgb(9, 173, 9);
    text-decoration: underline;
    cursor: pointer;
}

.aboutIconsContainer{
    display: flex;
    justify-content: space-between;
}

.bensIcons img{
    padding: 5px;
}

.yomexIcons img{
    padding: 5px;
}

.destinyIcons img{
    padding: 5px;
}

.bensIcons img{
    animation: flyInBottom 5s ease-in-out;
}

.yomexIcons img{
    animation: flyInBottom 5s ease-in-out;
}

.destinyIcons img{
    animation: flyInBottom 5s ease-in-out;
}